@import "media-query";

.hero {
	&-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		justify-items: center;
		margin: 0 auto;
		height: 90vh;
		width: 100%;
		padding-left: 24px;
		padding-right: 24px;

		@include mobile {
			grid-template-columns: 1fr;
		}
	}
	&-left {
		width: 100%;
		line-height: 1.2;
		@include mobile {
			margin-top: 100px;
		}
		h1 {
			font-size: 4rem;
			span {
				color: $orange;
				font-size: 5rem;
				@include mobile {
					font-size: 2.5rem;
				}
			}
			@include mobile {
				font-size: 2rem;
			}
		}
		h2 {
			font-size: 2rem;
			span {
				color: $green;
				font-size: 2.5rem;
				@include mobile {
					font-size: 1.3rem;
				}
			}
			@include mobile {
				font-size: 1rem;
			}
		}
		p {
			font-weight: 500;
			margin-top: 1rem;
		}
	}
	&-btn {
		background: transparent;
		border: 2px solid $orange;
		border-radius: 25px;
		padding: 1rem 1.5rem;
		margin-top: 1.5rem;
		a {
			color: $light;
			text-decoration: none;
			font-weight: 400;
		}
		&:hover {
			background: $orange;
			color: $dark;
			transition: all 0.3s ease-in-out;
			transform: scale(110%);
		}
		&:active {
			background: $orange;
			transition: all 0.2s ease-in-out;
			transform: scale(95%);
		}
	}
	&-img {
		height: 100%;
		width: 100%;
	}
}
