@import "colours";
@import "media-query";
%align-center {
	display: flex;
	align-items: center;
}
.navbar-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	background: $dark;
	height: 80px;
}
.navbar {
	display: flex;
	justify-content: space-between;
	padding: 0.5rem;
	&-logo {
		font-size: 2rem;
		padding: 0.2rem;
		text-decoration: none;
		cursor: pointer;
		margin-left: 24px;
		color: $green;
		// @extend %align-center;
	}
	&-bars {
		display: none;
		cursor: pointer;
		@include mobile {
			display: inline-block;
			position: absolute;
			top: 20px;
			right: 20px;
		}
	}
	&-menu {
		@extend %align-center;
		text-align: center;
		margin-right: 20px;

		@include mobile {
			display: none;
		}
	}
	&-links {
		text-decoration: none;
		padding: 0 1rem;
		color: $light;
		transition: color 0.3s ease;
		&:hover {
			color: $orange;
			transition: color 0.3s ease;
		}
	}
}
